* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #7264d6;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

input,
textarea,
select,
button {
    font-family: inherit;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
    --height: 58px;
    min-width: 149px;
    border-radius: 8px;
    background: #212832;
    color: #fff;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    transition: opacity 0.25s;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.section__title {
    color: #696d77;
    margin-bottom: 12px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
    display: flex;
    align-items: center;
}

.section__title::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696d77;
    margin-right: 12px;
}

.section__heading {
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 5rem;
}

.section__desc {
    color: #696d76;
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
}

/* ================ Header ================ */
.fixed {
    position: sticky;
    top: -34px;
    z-index: 99;
}

.header {
    padding: 42px 0 8px;
    background-color: #fff;
}

.header__inner {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 70px;
}

.navbar__list {
    display: flex;
}

.header__action {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar__link {
    padding: 0 24px;
    color: #696d76;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
    transition: color 0.25s, text-shadow 0.25s;
}

.navbar__link:hover {
    color: #212832;
    text-shadow: 1px 0 0 currentColor;
}

.navbar-item:nth-child(1) .navbar__link {
    padding: 0;
}

.navbar__link--active {
    color: #212832;
    font-size: 1.6rem;
    text-shadow: 1px 0 0 currentColor;
    line-height: 2.8rem;
}

.navbar__link--active::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--primary-color);
    border-radius: 999px;
}

.header__action--login {
    padding: 0 28px;
    color: #212832;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.8rem;
}

.header__action--login:hover {
    cursor: pointer;
    opacity: 0.9;
}

.header__action--btn {
    --height: 52px;
    min-width: 113px;
}

/* ================ Hero ================ */
.hero {
    margin-top: 38px;
    padding: 30px 0;
}

.hero__inner {
    display: flex;
    align-items: center;
    column-gap: 160px;
}

/* Hero content */
.hero-content {
    max-width: 540px;
}

.hero-content__heading {
    user-select: none;
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 7rem;
}

.hero-content__heading b {
    color: #7264d6;
}

.hero-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    width: 540px;
    height: 74px;
    margin-top: 40px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero-form__input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0 15px;
}

.hero-form__input::placeholder {
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
}

.hero-form__btn {
    min-width: 149px;
    background-color: var(--primary-color);
}

.hero-content__note {
    color: #696d76;
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.4rem;
}

/* Hero media */
.hero-media {
    margin-right: 174px;
    position: relative;
}

.hero-media__screen {
    width: 100%;
    display: block;
}

.hero-media__inner {
    position: absolute;
    width: 250px;
    top: 52px;
    left: 50%;
    transform: translate(-50%, 0);
}

.hero-media__visa {
    padding: 16px;
    width: 100%;
    height: 150px;
    border-radius: 20px;
    background: linear-gradient(76deg, #8174e0 11.52%, #7264d6 70.78%);
    position: relative;
    overflow: hidden;
}

.hero-media__visa::before {
    content: url(../icons/mobile-srceen-icon-circle.svg);
    position: absolute;
    top: 16px;
    right: 16px;
}

.hero-media__visa--title {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}

.hero-media__visa--cost {
    color: #fff;
    margin-top: 2px;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.hero-media__visa--row {
    position: relative;
    z-index: 1;
    margin-top: 32px;
    display: grid;
    grid-template-columns: 57px auto;
    gap: 5px 12px;
}

.hero-media__visa--holder {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
}

.hero-media__visa--date {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: normal;
}

.hero-media__visa--decorate-top {
    position: absolute;
    top: 0;
    left: 0;
}

.hero-media__visa--decorate-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

.hero-media__transactions {
    margin: 24px 0 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-media__caption {
    color: #31456a;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
}

.hero-media__item {
    display: flex;
    align-items: center;
}

.hero-media__item + .hero-media__item {
    margin-top: 28px;
}

.hero-media__item-icon {
    margin-right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #edf8fc;
}

.hero-media__item:nth-child(2) .hero-media__item-icon {
    background-color: #fbf0f0;
}

.hero-media__item:nth-child(3) .hero-media__item-icon {
    background-color: #edf6f4;
}

.hero-media__item:nth-child(4) .hero-media__item-icon {
    background-color: #f1f0fb;
}

.hero-media__item--row {
    width: 196px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-media__item--row + .hero-media__item--row {
    margin-top: 6px;
}

.hero-media__item--price,
.hero-media__item--title {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4rem;
}

.hero-media__item--price {
    text-align: right;
}

.hero-media__item--desc {
    color: #696d76;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
}

.hero-media__item--time {
    color: #696d76;
    text-align: right;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
}

/* Hero Card */
.hero-card__top {
    padding: 14px 10px;
    display: flex;
    align-items: center;
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
    position: absolute;
    top: 113px;
    left: -100px;
}

.hero-card__top--desc {
    margin: 0 20px 0 8px;
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4rem;
}

.hero-card__top--price {
    color: #4ab5e3;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4rem;
}

.hero-card__bottom {
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    position: absolute;
    bottom: 61px;
    right: -74px;
}

.hero-card__bottom--price {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4rem;
}

.hero-card__bottom--desc {
    margin-top: 5px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 0.8rem;
}

.hero-interest {
    padding: 21px 0;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #da6464;
    position: absolute;
    top: 127px;
    right: -174px;
}

.hero-interest__desc,
.hero-interest__percent {
    color: #fff;
    text-align: center;
    font-size: 4.4rem;
    font-weight: 600;
    line-height: normal;
}

.hero-interest__desc {
    font-size: 1.6rem;
    font-weight: 400;
}

/* ================ Work ================ */
.work {
    margin-top: 100px;
    padding: 30px 0;
}

.work__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 230px;
}

.work-media {
    padding-right: 7px;
    position: relative;
    height: 619px;
}

.work-media::after {
    content: url(../img/work-img-bg.svg);
    left: 0;
    bottom: 0;
    position: absolute;
}

.work-media__img {
    margin-top: -2.5px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: block;
}

.work-media__wrap-icon {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 76px;
    right: 55px;
    z-index: 1;
}

.work-media__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #f8fbfe;
}

.work-card {
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    padding: 15px;
    width: 226px;
    height: 70px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
    position: absolute;
    bottom: 96px;
    right: -100px;
    z-index: 1;
}

.work-card__wrap-icon {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: #4ab5e3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-card__icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-card__title {
    color: #212832;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
}

.work-card__desc {
    margin-top: 5px;
    color: #696d76;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
}

.work__content--list {
    margin-top: 70px;
}

.work__content--item {
    margin-top: 30px;
}

.work-item__title {
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 3.2rem;
}

.work-item__desc {
    margin-top: 16px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
}

/* ================ Card ================ */
.card {
    margin-top: 100px;
    padding: 30px 0;
}

.card__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__row + .card__row {
    margin-top: 160px;
}

.card-content:nth-child(4) {
    margin-left: auto;
}

.card-content__heading,
.card-content__desc {
    width: 470px;
}

.card-content__list {
    margin: 28px 0 38px;
}

.card-content__item {
    margin-top: 18px;
}

.card-content__item--text {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
    display: inline-flex;
    align-items: center;
}

.card-content__item--text::before {
    content: "";
    display: inline-block;
    margin-right: 12px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

/* Card media */
.card-media {
    position: relative;
}

.card-media__wrap {
    position: relative;
    z-index: 1;
    margin-right: 88px;
    padding: 38px;
    width: 482px;
    height: 322px;
    border-radius: 20px;
    background: linear-gradient(76deg, #8174e0 11.52%, #7264d6 70.78%);
}

.card-media__title {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: normal;
}

.card-media__price {
    margin-top: 10px;
    color: #fff;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: normal;
}

.card-media__row {
    margin-top: 98px;
    display: grid;
    grid-template-columns: 114px 1fr;
    gap: 7px 26px;
}

.card-media__text {
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    line-height: normal;
}

.card-media__date {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: normal;
}

.card-media__decor-top {
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.card-media__decor-circle {
    position: absolute;
    top: 38px;
    right: 38px;
}

.card-media__decor-bottom {
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.card-media__tag-top {
    font-family: "Inter", sans-serif;
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap: 14px;
    align-items: center;
    padding: 23px 13px;
    width: 276px;
    height: 86px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
    position: absolute;
    top: -48px;
    right: 0;
    z-index: 1;
}

.card-media__tag-top--icon {
    margin-right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: rgba(218, 100, 100, 0.1);
    border-radius: 8px;
}

.card-media__tag-top--content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.card-media__tag-top--title {
    color: #212832;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: normal;
}

.card-media__tag-top--price {
    color: #212832;
    text-align: right;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}

.card-media__tag-top--desc {
    color: #696d76;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
}

.card-media__tag-top--date {
    color: #696d76;
    text-align: right;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
}

.card-media__tag-bottom {
    padding: 15px;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: #439f90;
    position: absolute;
    bottom: -55px;
    right: 0;
    z-index: 1;
}

.card-media__tag-bottom--icon {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-media__tag-bottom--text {
    display: inline-block;
    margin-top: 14px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
}

.card-media__tag-bottom--price {
    margin-top: 6px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

/* Row 2 */
.card-media__bottom {
    width: 570px;
}

.card-media__wrap--bottom::after {
    content: url(../img/card-media-bottom-bg.svg);
    position: absolute;
    left: 0;
    bottom: -2.5px;
}

.card-media__bottom--img {
    position: relative;
    width: 413px;
    margin-left: 30px;
    z-index: 1;
    display: block;
}

.card-media__method {
    padding: 28px;
    width: 281px;
    height: 220px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 44px 48px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 57px;
    right: 26px;
    z-index: 1;
}

.card-media__method--title {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
}

.card-media__method--list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.card-media__method--item {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: #f2f2fa;
}

.card-media__method--item:nth-child(6) {
    background: #f9ea63;
}

.card-media__decor-bottom__circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 288px;
    right: 0;
    z-index: 1;
}

/* ================ Client ================ */
.client {
    padding: 80px 0;
    margin-top: 80px;
}

.client__content--heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client__desc {
    margin-top: 18px;
    width: 435px;
    color: #696d76;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
}

.client__list {
    margin-top: 70px;
    display: flex;
    column-gap: 30px;
    overflow: hidden;
}

.client-item {
    flex-shrink: 0;
}

.client-item__message {
    border-radius: 8px;
    width: 570px;
    padding: 48px 28px;
    border: 1px solid #dfe2e8;
    background-color: #fff;
    position: relative;
    transition: filter 0.3s;
}

.client-item__message::after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    background-color: #fff;
    rotate: 45deg;
    left: 48%;
    transform: translate(-50%, 0);
    border: 1px solid #dfe2e8;
    border-left: none;
    border-top: none;
    border-bottom-right-radius: 4px;
    bottom: -52.2px;
    transition: border-color 0.3s;
}

.client-item__message:hover {
    border-color: transparent;
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.client-item__message:hover::after {
    border-color: transparent;
}

.client-item__quote {
    color: #696d76;
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 3.4rem;
    position: relative;
    z-index: 1;
    cursor: default;
    user-select: none;
}

.client-item__info {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client-item__thumb {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background-color: #4ab5e3;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.client-item:nth-child(2) .client-item__thumb {
    background-color: #439f90;
}

.client-item_author {
    margin-top: 20px;
    color: #070052;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 3.6rem;
}

.client-item__text {
    margin-top: 2px;
    color: #696d76;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
}

.client__page--wrap {
    margin: 38px auto 0;
    width: 90px;
    height: 6px;
    display: flex;
    column-gap: 12px;
}

.client__page {
    width: 22px;
    height: 100%;
    border-radius: 1px;
    background-color: #fff;
    border: 1px solid #9b9fab;
}

.client__page--active {
    border-color: transparent;
    background-color: var(--primary-color);
}

/* ================ Blog ================ */
.blog {
    margin-top: 80px;
    padding: 80px 0;
}

.section-content__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__title {
    margin-bottom: 6px;
}

.blog__desc {
    margin-top: 18px;
    color: #696d76;
    width: 435px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
}

.blog__btn {
    min-width: 123px;
}

.blog__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.blog-item {
    border-radius: 12px;
    border: 1px solid #dfe2e8;
    background: #fff;
    padding: 28px;
    display: flex;
    align-items: center;
    transition: border-color, box-shadow, transform;
    transition-duration: 0.25s;
}

.blog-item:hover {
    transform: translateY(-16px);
    border-color: transparent;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
    cursor: pointer;
}

.blog-item:hover .blog-item__more {
    color: var(--primary-color);
}

.blog-item__thumb {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
    margin-right: 22px;
}

.blog-item__date {
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
}

.blog-item__title {
    color: #212832;
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
}

.blog-item__more {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    transition: color 0.25s;
}

/* ================ Apps ================ */
.apps {
    margin-top: 80px;
}

.apps__inner {
    padding: 100px 0;
    background-color: var(--primary-color);
    width: 1170px;
    height: 466px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.apps__title,
.apps__heading {
    color: #fff;
}

.apps .section__title::before {
    background-color: #fff;
}

.apps__desc {
    margin-top: 18px;
    width: 435px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
}

.apps__wrap {
    margin-top: 38px;
    display: flex;
    column-gap: 16px;
}

.apps__item {
    width: 182px;
    height: 64px;
    border-radius: 6px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apps__item :hover {
    opacity: 0.9;
}

.apps__icon-star {
    position: absolute;
    left: 112px;
    top: 49px;
    animation: fly 0.6s ease-in-out infinite alternate;
}

@keyframes fly {
    from {
        transform: translateY(-0.1em);
    }
    to {
        transform: translateY(0.1em);
    }
}

.apps__icon-star:nth-child(2) {
    right: 112px;
    left: initial;
}

.apps__icon-star:nth-child(3) {
    top: initial;
    left: initial;
    bottom: 49px;
    left: 166px;
}

.apps__icon-star:nth-child(4) {
    top: initial;
    left: initial;
    bottom: 49px;
    right: 166px;
}

/* ================ Footer ================ */
.footer {
    margin-top: 100px;
    padding: 100px 0 28px;
    background: #fafbff;
}

.footer__row {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
}

.footer__letter,
.footer__title {
    margin-bottom: 24px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
}

.footer__item + .footer__item {
    margin-top: 12px;
}

.footer__address,
.footer__link {
    color: #6a6e78;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__address {
    margin-bottom: 48px;
    width: 371px;
}

.footer__letter {
    color: #0a142f;
}

.footer__subcrise-form {
    display: inline-flex;
    column-gap: 20px;
}

.footer__form--input {
    padding: 12px;
    border: none;
    outline: none;
    width: 270px;
    height: 52px;
    border-radius: 6px;
    border: 1px solid #8e919a;
}

.footer__form--input::placeholder {
    color: #8e919a;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
}

.footer__btn {
    --height: 52px;
    min-width: 113px;
    background-color: var(--primary-color);
}

.footer__contact {
    margin-top: 54px;
    display: inline-flex;
    column-gap: 100px;
}
.footer__contact--link {
    color: #6a6e78;
    text-align: justify;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
    text-decoration-line: underline;
}

.footer__contact--link:hover {
    opacity: 0.9;
}

.footer__bottom {
    margin-top: 28px;
    padding: 28px 0;
    background: #7264d6;
    display: flex;
    justify-content: center;
}

.footer__copy-right {
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
}
