* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #7264d6;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

input,
textarea,
select,
button {
    font-family: inherit;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    border: none;
    background-color: transparent;
    outline: none;
    --height: 58px;
    min-width: 149px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 8px;
    background: #212832;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.8rem;
    transition: opacity 0.25s;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.section__title {
    color: #696d77;
    margin-bottom: 12px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
    display: flex;
    align-items: center;
}

.section__title::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696d77;
    margin-right: 12px;
}

.section__heading {
    color: #696d76;
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
}

.section__desc {
}

/* ================ Header ================ */
.fixed {
    position: sticky;
    top: -34px;
    z-index: 1;
}

.header {
    padding: 42px 0 8px;
    background-color: #fff;
}

.header__inner {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 70px;
}

.navbar__list {
    display: flex;
}

.header__action {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar__link {
    padding: 0 24px;
    color: #696d76;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}

.navbar-item:nth-child(1) .navbar__link {
    padding: 0;
}

.navbar__link--active {
    color: #212832;
    font-size: 1.6rem;
    text-shadow: 1px 0 0 currentColor;
    line-height: 2.8rem; /* 175% */
}

.navbar__link--active::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--primary-color);
    border-radius: 999px;
}

.header__action--login {
    padding: 0 28px;
    color: #212832;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.8rem;
}

.header__action--login:hover {
    cursor: pointer;
    opacity: 0.9;
}

.header__action--btn {
    --height: 52px;
    min-width: 113px;
}

/* ================ Hero ================ */
.hero {
    margin-top: 68px;
}

.hero__inner {
    display: flex;
    align-items: center;
    column-gap: 160px;
}

/* Hero content */
.hero-content__heading {
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 7rem;
}

.hero-content__heading b {
    color: #7264d6;
}

.hero-media {
    padding-right: 174px;
}

.hero-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    width: 540px;
    height: 74px;
    margin-top: 40px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero-form__input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0 15px;
}

.hero-form__input::placeholder {
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
}

.hero-form__btn {
    min-width: 149px;
    background-color: var(--primary-color);
}

.hero-content__note {
    color: #696d76;
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.4rem;
}

/* Hero media */
.hero-media__wrap {
    width: 100%;
}
